@import "variables";
@import "fonts";
*{
    margin: 0;
    padding:0;
    font-family: $header-font;
    box-sizing: border-box;
    color: $font-color;
}
.center{
    max-width: 1160px;
    margin: 0 auto;
}
.font15px{
    font-size: 15px;
    font-weight: bold;
}

.button{//default button style //
    border: 1px solid $font-color;
    color: $font-color;
    font-size: 15px;
    border-radius: 5px;
    background:rgba($color: #fff, $alpha: 0) ;
    padding:10px 26px;
    outline: none;
    transition: 0.3s;
}
.button:hover{
    background-color:$font-color;
    color:#fff
}
 .btnArrow{// arrow in box-button
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    height: 12px;
    width: 12px;
}
.right {
    transform: rotate(-45deg);//right arrow
 }  
.left {
    transform: rotate(135deg); //left arrow
}
#nav__home{
    color: rgba($color: $font-color, $alpha: 0.3) !important;
}

.figure{ // figure item between slides //
            
    position: relative;
    
    height: 8px;
    width: 98px;
    border: 1px solid #4D4949;
    border-top: none;
    margin-bottom: 20px;
    &__leftLine{
        left: -5px;
        
        position: absolute;
        height: 1px;
        width: 4px;
        border-bottom:1px solid #4D4949; 
    }
    &__rightLine{
        right: -5px;
        
        position: absolute;
        height: 1px;
        width: 4px;
        border-bottom:1px solid #4D4949; 
    }

}

.header__background{
    background: url('../img/bg.jpg') center/cover no-repeat;
    padding-bottom: 206px;
}

.header{
    padding-top: 30px;
    &__top{
        
        display: flex;
        justify-content: space-between;
        
        &--logo{
            font-weight: bold;
            font-size: 17px;
            padding-left: 15px;
            color: $font-color;
        }
        &--nav a{
            margin-right: 40px;
            color: $font-color;
            font-size: 15px;
        }
        &--nav a:last-child{
            margin-right: 0;
        }
        &--nav a:hover{
            text-decoration: none;
           
        }


    }
    &__center{
        margin-top: 100px;
        &--title{
            font-size: 28px;
            font-weight: 600;
            padding-left: 0px;
        }
        &--descr{
            font-size: 17px;
            margin-top: 16px;
        }
        &--buttons button:nth-child(1){
            margin-right: 25px;
            margin-left: 15px;
            
        }
        
    }
}
.aboutUs{
    color:  $font-color;
    text-align: center;
    &__title{
        margin-top: 80px;
        
        display: flex;
        
       align-items: center;
        flex-direction: column;
        &--h2{
            font-size: 24px;
            font-weight: 600;
            line-height: 39px;
        }
        &--descr{
            font-size: 17px;
        }
        
    }
    &__content{
        margin-top: 50px;
        
        display: flex;
        flex-wrap: wrap;
        &--aside{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
        &--aside div{
            height: 184px;
            width: 260px;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
           
        }
        
        &--video{
            background: url('../img/About picture.png') center/cover no-repeat;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            
            &:hover{
                cursor: pointer;
            }
        }
    }
    
    
    
}
.aside__item1{
    margin-bottom: 20px;
  background:linear-gradient(135deg, #D8D384 0%, #B3D496 100%);
  position: relative;
  &::before{
    position: absolute;
    right: 0;
    top: 0;
    content: "";
    background: #fff;
    height: 30px;
    width: 30px;
    border-bottom-left-radius: 5px;
    }
}

.aside__items--descr{
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: -10px;
}

.aside__item2{
    position: relative;
    margin-bottom: 20px;
  background: linear-gradient(135deg, #C7DAFB 0%, #8FB0FD 100%);
  &::before{
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    background: #fff;
    height: 30px;
    width: 30px;
    border-bottom-right-radius: 5px;
    }
}
.aside__item3{
    position: relative;
    background: linear-gradient(135deg, #FF8787 0%, #FF9F9F 100%);
    &::before{
        position: absolute;
        right: 0;
        top: 0;
        content: "";
        background: #fff;
        height: 30px;
        width: 30px;
        border-bottom-left-radius: 5px;
        }
}
.latestPosts{
    color:  $font-color;
    text-align: center;
    &__title{
        margin: auto;
        margin-top: 80px;
        max-width: 442px;
        display: flex;
       align-items: center;
        flex-direction: column;
        &--h2{
            font-size: 24px;
            font-weight: 600;
            line-height: 39px;
        }
        &--descr{
            font-size: 17px;
        }
        
        .figureLatestPosts{
            width: 130px;
        }
    }
    &__content{
        display: flex;
        flex-wrap: wrap;
        margin-top: 45px;
        color: $font-color;
        justify-content: center;
    }
    .linkLatestPosts{
        color: $font-color;
        text-decoration: none;
    }
}
.postItem{
    height: 442px;
    text-align: left;
    width: 360px;
    
    &:hover{
        cursor: pointer;
    }
    
    &__title{
        margin-top: 15px;
        margin-bottom: 5px;
        color: $font-color;
        font-family: "Hind Siliguri";
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 32px;
        
        
    }
    &__descr{
        font-size: 15px;
        
    }
    &__analytics{
       
        display: flex;
        justify-content: start;
        align-items: center;
        &--dot{
            width: 3px;
            height: 3px;
            background-color: #818181;
            border-radius: 2px;
            margin: 0 10px;

        }
        &--comment{
            margin-right: 5px;
        }
    }
}
.latestPortfolio{
    color:  $font-color;
    text-align: center;
    &__title{
        margin: auto;
        margin-top: 80px;
        max-width: 442px;
        display: flex;
        align-items: center;
        flex-direction: column;
        &--h2{
            font-size: 24px;
            font-weight: 600;
            line-height: 39px;
        }
        .figureLatestPortfolio{
            width: 165px;
        }
        
    }
    &__content{
        display: flex;
        transition: 0.4s;
    }
    .slider__rapper{
        overflow: hidden;
    }
    
    &__buttons{
        margin: auto;
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
      
        & .right {
            transform: rotate(-45deg);
           
            
        }
        
        & .left {
            transform: rotate(135deg);
            
            
        }
        &--btn1{
            border: 1px solid $font-color;
            border-radius: 5px;
            background: #fff;
            height: 45px;
            width: 45px;
            padding: 5px 0 0 5px;
            transition: 0.1s;
            &:hover{
                cursor: pointer;
                box-shadow: 0 3px 10px 0 #6D6D6D;
            }

        }
        &--btn2{
           
            transition: 0.1s;
            border: 1px solid $font-color;
            border-radius: 5px;
            background: #fff;
            height: 45px;
            width: 45px;
            padding: 5px 5px 0 0 ;
            &:hover{
                cursor: pointer;
                box-shadow: 0 3px 10px 0 #6D6D6D;
            }
        }
    }
    &__seeAllWorks{
        margin-top: 40px;
        
    }

}
.portfolioItem{
    position: absolute;
    background: url('../img/bg img1.png') center no-repeat;
    
    display: flex;
    height: 244px;
    max-width: 360px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

    &:nth-child(2){
        background: url('../img/bg img2.png') center no-repeat;
    }
    &:nth-child(3){
        background: url('../img/bg img 3.png') center no-repeat;
    }
    &:hover{
        cursor: pointer;
    }
    &__title{
       &--h2{
           color: #fff;
           text-transform: uppercase;
           font-size: 20px;
       }
       &--descr{
           color: #fff;
           margin-bottom: 0;
           font-size: 15px;
       }

    }
    &__content{
        display: flex;
        position: absolute;
        right: 15px;
        bottom: 0;
        background: rgba($color: #000000, $alpha: 0.5);
        border-radius: 5px;
        
       
        &--img1{
            
            padding: 21px 13px 22px 21px;
        }   
        &--img2{
            
            padding: 21px 21px 22px 12px;
        }   
        
    }
   
   
}
.testimonials{
    color:  $font-color;
    text-align: center;
    &__title{
        margin: auto;
        margin-top:60px;
        max-width: 442px;
        display: flex;
        align-items: center;
        flex-direction: column;
        &--h2{
            margin-top: 80px;
            font-size: 24px;
            font-weight: 600;
            line-height: 39px;
        }
        .figureTestimonials{
            width: 135px;
            margin-bottom: 54px;
        }
        
    }
    &__bg{
        background: url('../img/Bg testimonial.png') center/cover no-repeat;
        max-width: 1440px;
        margin: 0 auto;
        height: 529px;
        
    }
    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        &--container{
            display: flex;
            justify-content: center;    
            align-items: center;
            min-width: 620px;
            max-height: 265px;
            
            background: $font-color;
            border-radius: 6px;
            

        }
        &--bg{
            transition: 0.4s;
            display: flex;
            max-width: 620px;
        }
        .slider__rapper{
            overflow: hidden;
            margin: 0 30px;
        }
         
    }

}
.blockquote{
   
    
    &__cite, &__author, &__position{
        color: #fff;
        text-align: left;
    }
    &__cite{
        position: relative;
        font-size: 17px;
        margin: 53px 40px 0 48px;
        font-weight: 500;
        font-family: "Hind Siliguri";
        letter-spacing: 0;
        line-height: 26px;
        &::before{
            position: absolute;
            content: " '' ";
            font-size: 28px;
            left: -15px;
            top: -12px;
        }
    }
    &__author{
        font-size: 15px;
        margin-bottom: 0px;
        margin: 37px 159px 0 48px;
    }
    &__position{
        font-size: 15px;
        margin-bottom: 0px;
        margin: 0 120px 0 48px;
    }

}
.contactUs{
    color:  $font-color;
    text-align: center;
    &__bg{
        background: #F8F8F8;
        max-width: 1440px;
    }
    &__title{
        margin: auto;
        max-width: 438px;
        display: flex;
        align-items: center;
        flex-direction: column;
        &--h2{
            margin-top: 80px;
            font-size: 24px;
            font-weight: 600;
            line-height: 39px;
        }
        .figureContactUs{
            width: 114px;
            
        }
        
    }
    &__content{
        &--form{
            position: relative;
            display: flex;
            height: 611px;
            background:  #F8F8F8;
            margin-top: 17px;
            margin-bottom: 50px;
        }
        &--bg{
            max-width: 1440px;
            margin: 0 auto;
            background:  #F8F8F8;
            display: flex;
        }

    }
    

}
.iconsTitle{
    
    &__title{
        margin-top: 75px;
        display: flex;
        justify-content: flex-start;
        
        & img{
            margin-right: 25px;
        }
    }
}
.asideContainer{
    text-align: left;
    padding: 0 !important;
    
    .asideContainer__circle{
        position: absolute;
        height: 20px;
        width: 20px;
        border: 3px solid $font-color;
        border-radius: 12px;
        top: -3px;
        left:-55px;
        &--dot{
            position: relative;
            left: -23px;
            top: 4px;
            height: 4px;
            width: 4px;
            border: 3px solid $font-color;
            border-radius: 10px;
        }
    }
    &__p1, &__p2, &__p3{
        position: relative;
    }
    &__p1::before{
        content: "";
        position: absolute;
        left: -19px;
        top: 17px;
        height: 124px;
        border: 1px solid rgba(77, 76, 73, 0.2);
    }
    &__p2::before{
        content: "";
        position: absolute;
        left: -19px;
        top: 17px;
        height: 124px;
        border: 1px solid rgba(77, 76, 73, 0.2);
    }
    &__title{
        font-size: 24px;
        margin-top: 105px;
        margin-bottom: 40px;
    }
    & div{
        margin-left: 27px;
    }
    & div p{
        margin:15px 0 35px 10px ;
      
        
    }

}
.formContainer{
    padding: 0 !important;
    position: absolute;
    top: -72px;
    box-shadow: 0px 1px 5px 0px black;
    &__title{
        display: flex;
        align-items: center;
        background: #F8F8F8;
        
        
        &--logo{
            margin:10px 15px 11px 20px;
        }
        &--cite{
            margin: 12px 65px 11px 0;
            font-size: 17px;
            font-weight: 500;
            text-align: left;
        }
    }
    &__content{
        display: flex;
       
        background: #fff;
        .formButton{
            float: left;
            margin-left: 31px;
        }
        .formContacts{
            margin: 0 31px;
            float: left;
            text-align: left;
            font-size: 17px;
            margin-top: 40px;
        }
        .formContacts span{
            font-weight: bold;
            text-decoration: underline;
        }
       &--map img{
           max-width: 365px;
       }
    }
    
}

.formInput{
    text-align: left;
    
    margin: 0 31px;
    margin-bottom:30px ;
    &__title{
        font-size: 17px;
        margin-top: 30px;
        margin-bottom: 10px;
        font-weight: normal;
        display: flex;
        justify-content: space-between;
    }
    &__input{
        width: 100%;
        padding: 10px;
        border: 1px solid #DCDCDC;
        border-radius: 5px;
        font-size: 15px;
        
    }
}
.footer{
    
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    &__bg{
        border-top: 1px solid rgba($color: $font-color, $alpha: 0.4);
        display: flex;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        max-width: 1440px;
        background: #F8F8F8;
    }
    &__icons img{
        margin-right: 25px;

    }
    &__logo{
        font-weight: bold;
        font-size: 17px;
        .scrollUp{
            color: $font-color;
            text-decoration: none;
        }
    }
    &__rights{
        font-size: 15px;
    }
}
@media screen and (max-width:1140px){
    .aboutUs{
        &__title{
            margin-top: 25px;
        }
        &__content{
            margin-top: 25px;
            &--aside{
                align-items: center;
                flex-direction: row;
                justify-content: space-around;
                & div{
                   
                    margin: 0 15px;
                    margin-bottom: 20px;
                }
                
            }
            &--video{
                height: 450px;
                margin: 10px 15px;
            }
        }

    }
    .latestPosts{
        &__title{
            margin-top: 35px;
        }
        &__content{
            margin-top: 0;
        }
    }
    .latestPortfolio{
        &__title{
            margin-top: 35px;
        }
        &__content{
            margin-top: 0;
            
            
            
        }
        &__buttons{
            max-width: 500px;
            margin-top: 0;
            margin-bottom: -35px;
        }
        &__seeAllWorks{
            margin-top: -35px;
        }
    }
    .portfolioItem{
        margin: 15px 10px;
        &__content{
            right: 0;
        }
    }
    .postItem{
        
        max-width: 360px;
        margin: 15px 10px;
        
    }
    .contactUs{
        &__title{
            &--descr{
                margin-bottom: 80px;
            }
        }
        &__content--form{
            display: flex;
            justify-content: center;
        }
        
    }
    
    .formContainer{
        max-width: 800px;
        
    }
    .iconsTitle{
        display: none;
    }
    .asideContainer{
        display: none;
    }
}




















@media screen and (max-width:768px){
    .header__background{
        padding-bottom: 56px;
    }
    .aboutUs{
        &__title{
            margin-top: 35px;
        }
        &__content{
            margin-top: 35px;
            &--aside {
                align-items: center;
                
                justify-content: space-around;
               
            }
            &--video{
                height: 400px;
                margin: 10px 15px;
            }
        }

    }
    .postItem{
        width: 360px;
        max-width: 360px;
        
    }
    .testimonials{
        &__bg{
            height: 100%;
        }
        &__content {
            &--container{
                margin-bottom: 25px;
                flex-wrap: wrap;
                max-width: 280px;
                .blockquote{    
                    max-width: 280px;
                }
            }
            &--bg{
                overflow: hidden;
            }
            
        }
    }
    .header__center{
        margin-top:50px
    }
   .formContainer{
       &__content{
           flex-wrap: wrap;
           justify-content: center;
           &--form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
               .formInput{
                   margin: 0 10px ;
                   width: 300px;
               }
               .formButton{
                   margin-top: 20px;
                   margin-left: 0;
               }
               .formContacts{
                   margin-bottom: 20px;
               }
           }
       }
   }
    

}


@media screen and (max-width:576px){
    .header__center{
        margin-top:30px
    }
    .header__top{
        
        flex-wrap: wrap;

        &--nav a{
            margin-right: 10px;
        }
    }
}
@media screen and (max-width:430px){
    .header{
        text-align: center;
        padding-top: 10px;
        &__bot--title{
            margin-top: 15px;
        }
        &__top--logo{
            margin-bottom:10px;
            
        }
        
    }
    .header__top{
        
        flex-wrap: wrap;
        justify-content: center;
    }
    .testimonials__content button {
        display: none;
    }
    .aboutUs__content--video{
        height: 185px;
    }
    .postItem{
        
        &__img{
        width: 320px;
    }
    }
    .footer__icons img{
        margin-right: 5px;

    }
    .formInput{

        width: 100%;
    }
    .footer__icons img{
        margin-right: 5px;

    }
   
    .footer__rights{
        text-align: center;
    }
    .footer__icons{
        display: flex;
        margin-right: 5px;

    }
}
